// 2024-04-20
// 1) "Improve frontend titles": https://github.com/cabinetsbay/site/issues/138
// 2) "Add the current category level as a CSS class to `<body>`": https://github.com/cabinetsbay/catalog/issues/3
body.cb-category-level-3 {
	// 2024-04-20 "Move `<sub>` out of `<h1>` on the frontend category pages": https://github.com/cabinetsbay/catalog/issues/5
	sub.cb-title {
		bottom: initial;
		display: block;
		font-size: initial;
		font-weight: normal;
		line-height: initial;
		@media screen and (max-width: 680px) {font-size: initial; text-align: center;}
		@media screen and (min-width: 681px) {margin-bottom: .3em;}
	}
}