<?xml version='1.0'?>
<!-- 2024-05-23
# 1) "Refactor the `Sharapov_Cabinetsbay` module": https://github.com/cabinetsbay/site/issues/98
# 2) "Move the catalog-related code to the `CabinetsBay_Catalog` module": https://github.com/cabinetsbay/catalog/issues/2  -->
<config>
	<preference for='Magento\CatalogWidget\Block\Product\ProductsList' type='Sharapov\Cabinetsbay\Block\Product\ProductsList' />
	<type name='Magento\Catalog\Model\Category\DataProvider'>
		<plugin
			name='CabinetsBay\Catalog\Plugin\Category\DataProvider'
			type='CabinetsBay\Catalog\Plugin\Category\DataProvider'
			sortOrder='1'
		/>
	</type>
</config>