<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:framework:Module/etc/module.xsd'
>
<!-- 2024-05-07 "Transfer the catalog-related code to the `CabinetsBay_Catalog` module":
https://github.com/cabinetsbay/core/issues/6 -->
	<module name='CabinetsBay_Catalog' setup_version='0.0.1'>
		<sequence>
			<module name='Df_Core'/>
			<module name='CabinetsBay_Core'/>
		</sequence>
	</module>
</config>