// 2024-05-19 "Improve the frontend home page": https://github.com/cabinetsbay/core/issues/7
// 2024-05-23
// "Refactor the «Popular RTA Cabinet Styles» home page block as a widget": https://github.com/cabinetsbay/catalog/issues/27
.cms-home .homepage-grid > .homepage-popular {
	margin-top: 8em;
	max-width: 1140px;
	> h2 {
		display: block;
		position: absolute;
		top: -2.6em;
		margin: 0;
		width: 100%;
		text-align: center;
		@media screen and (max-width: 680px) {  top: -2em;  }
	}
}