// 2024-06-17
// 1) "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
// 2) "The frontend product list pages should show products as a grid on narrow screens and as a list on wide screens":
// https://github.com/cabinetsbay/catalog/issues/39
.products-grid {
	.product-item-name {
		height: 5.8em;
		margin: .4em;
		overflow: hidden;
		text-align: center;
	}
	.product-item {
		@media screen and (max-width: 680px) {
			margin: 0 0 .5em;
			padding-bottom: .6em;
			width: 100%;
		}
		.product-item-inner {
			margin: 0;
		}
		.product-item-info {
			text-align: center;
		}
		.product-item-details {
			.product-item-name {
				display: none;
			}
		}
		.product-item-actions {
			position: relative;
			.input-text.qty {
				position: absolute;
				top: 0;
				padding: 0;
				border-radius: 0;
				width: 3em;
				left: 1em;
				right: auto;
				text-align: center;
			}
		}
		.price-box {
			margin: 0 1em;
			text-align: center;
		}
	}
	.product-item-description {
		margin: 0 1em 1em;
		text-align: center;
		height: 4.2em;
		overflow: hidden;
	}
}