// 2024-06-17
// 1) "Refactor `app/design/frontend/Cabinetsbay/cabinetsbay_default/web/css/source/_extend.less`":
// https://github.com/cabinetsbay/site/issues/119
// 2) "The frontend product list pages should show products as a grid on narrow screens and as a list on wide screens":
// https://github.com/cabinetsbay/catalog/issues/39
// 3) "The frontend product list pages should show products as a list on narrow screens and as a grid on wide screens":
// https://github.com/cabinetsbay/catalog/issues/40
.products-list {
	.actions-primary {text-align: left;}
	.product-image-container {width: 170px !important;}
	.product-item-description {font-size: 1.3em;}
	.product-item-details {text-align: left;}
	.product-item-name {text-align: left;}
	.product-item-name-second {display: none;}
	.product-item-photo {padding: 0 2em 0 0;}
	.product-view-col {
		display: table-cell;
		vertical-align: top;
		&:last-of-type {
			border-left: 1px solid #e8f5f6;
			height: 100%;
			padding: 2em;
			position: relative;
			width: 15%;
		}
		> .price-box {
			border: 0;
			margin: 1.52em 0 2.5em;
			padding-top: 0;
			width: 150px;
		}
	}
}